body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.title {
  position: absolute;
  top: 15px;
  color: white;
}

.chart {
  width: 600px;
  height: 400px;
  display: block;
  position: relative;
}

.numbers {
  color: white;
  margin: 0;
  padding: 0;
  width: 600px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -20px;
}

.numbers li {
  list-style: none;
}

.bars {
  color: white;
  font-size: 12px;
  font-weight: 600;
  background: #555;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #555;
}

.bars li {
  list-style: none;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 20px 0;
}

.bars li span {
  position: absolute;
  left: -60px;
  margin-top: 10px;
  text-align: center;
}

.bar {
  display: block;
  background:#6AEFF8;
  width: 0;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(106, 239, 248, 0.5);
  transition: 0.5s;
}

.bar:hover {
  background: #6AB1F8;
  box-shadow: 0 0 5px 0 rgba(106, 177, 248);
}

.bar:before {
  color: white;
  content: attr(data-percentage) '%';
  position: relative;
  left: calc(100% + 10px);
  top: 25%;
}